<p id="notice"><%= notice %></p>

<h1>Grades</h1>

<table>
  <thead>
    <tr>
      <th>Letter grade</th>
      <th>Comment</th>
      <th>Course</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
    <% if @ability.can? :read, grade, user_id: current_user.id %>
      <tr>
        <td><%= grade.letter_grade %></td>
        <td><%= grade.comment %></td>
        <td><%= grade.course %></td>
        <td><%= grade.user.email %></td>
        <td><%= link_to 'Show', grade %></td>
          <% if @ability.can? :manage, Grade %>
            <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
            <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>

<%= link_to 'New Grade', new_grade_path %>
