<!DOCTYPE html>
<html>
  <head>
    <title>Gradecentral</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <p>
        <%= if !current_user.nil?
              current_user.email + ' (' + current_user.roles.pluck(:name).join(", ") + ')'
            end
        %>
    </p>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
